/* MODAL FADE LEFT RIGHT BOTTOM */
.modal.fade:not(.in).map .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.map-modal-dialog {
    position: fixed;
    margin: auto;
    width: 450px;
    height: 100vh;
    left: 0px;
}

.modal-content.map {
    border-radius: 0 !important;
    height: 100vh;
}

.modal-dialog-scrollable .modal-content {
    max-height: 100vh;
}

.map-header {
    height: 50px;
    width: 100%;
}

.map-card {
    padding: 15px;
    width: 100%;
    border: 1px solid #cfcfcf;
    background: none;
    border-radius: 5px;
}

.box {
    padding: 30px;
}

.map-dropdown {
    width: 100%;
    border: 1px soild #cfcfcf;
}

.map-input {
    border: none;
    border-radius: 0px;
    padding: 20px 15px;
}
